[submodule "vendor/src/entt"]
	path = vendor/src/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/src/imgui"]
	path = vendor/src/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/src/imguizmo"]
	path = vendor/src/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/src/nlohmann"]
	path = vendor/src/nlohmann
	url = https://github.com/nlohmann/json
[submodule "vender/util/vcpkg"]
	path = vender/util/vcpkg
	url = https://github.com/Microsoft/vcpkg
